.footer {
  width: 100%;
  height: 12rem;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-top: 1px solid #521717;
}
.footerHolder {
  margin-left: 0rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.FootCon {
  color: black;
  font-size: 1rem;
  font-family: Batman;
  text-align: center;
}
.FootCon1 {
  color: #521717;
  font-size: 1rem;
  font-family: Batman;
  text-align: center;
  border-bottom: solid #521717 2px;
  margin-bottom: 0.5rem;
}
.FootSoc {
  font-size: 1rem;
  font-family: Batman;
  color: #521717;
  text-align: center;
}
.FootSocial1 {
  font-size: 1rem;
  font-family: Batman;
  color: #521717;
  text-align: center;
  border-bottom: solid #521717 2px;
  margin-bottom: 0.5rem;
}
.FootLinks {
  font-size: 1rem;
  font-family: Batman;
  text-align: center;
  color: black;
}
.FootNav1 {
  font-size: 1rem;
  font-family: Batman;
  text-align: center;
  border-bottom: solid #521717 2px;
  margin-bottom: 0.5rem;
  color: #521717;
}
.footerIMG {
  width: 80%;
  height: 20rem;
  border-radius: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.FootLinks:hover {
  font-size: 1.3rem;
}
.FootSoc:hover {
  font-size: 1.3rem;
}
.FootCon:hover {
  font-size: 1.2rem;
}
.FootLinks:active {
  color: #521717;
  font-weight: bolder;
}
.FootSoc:active {
  color: #521717;
  font-weight: bolder;
}
.FootCon:active {
  color: #521717;
  font-weight: bolder;
}
